// Position

$column: column !important;
$around: space-around !important;
$center: center !important;

// Colors

$vermelho: #ff0000;
$cinza-claro: #e6e6e6;
$cinza: grey;
$branco: #fff;

$borda: 1px solid grey;
