<div>
  <mat-card-title>
    Cadastro de Funcionários
  </mat-card-title>

  <mat-card-content>
    <div fxLayout="column" fxLayoutAlign="space-between">
      <mat-form-field>
        <input matInput [(ngModel)]="depName" (keyup.enter)="save()">
        <mat-hint>Digite o primeiro e último nome do Funcionário</mat-hint>
      </mat-form-field>
      <div class="div-button" fxLayout="row" fxLayoutAlign="space-around">
        <button  mat-flat-button color="primary" (click)="save()">Salvar</button>
        <button  mat-button color="warn" (click)="cancel()">Cancelar</button>
      </div>
    </div>

    <ng-container *ngIf="departments?.length>0; else empty">
      <mat-list>
        <h3 mat-subheader>Funcionários</h3>
        <mat-list-item *ngFor="let dep of departments">
          <mat-icon mat-list-icon>people</mat-icon>
          <h4 mat-line>{{dep.name}}</h4>
          <button mat-icon-button color="accent" (click)="delete(dep)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="edit(dep)">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </ng-container>
    <ng-template #empty>
      <div><em>Não existem funcionários cadastrados.</em></div>
    </ng-template>
  </mat-card-content>
</div>