<nav>
  <div>
    <img src="../assets/images/pizza-slice.png" alt="logo">
    <h1>Pizza Store</h1>
  </div>
  <div>
    <a href="https://www.linkedin.com/in/lucasmelo18/" target="_blank">Linkedin</a>
    <a href="https://github.com/lucasmelo18" target="_blank">Github</a>
    <a href="mailto:luucasmell@gmail.com" target="_top">Gmail</a>
    <a href="https://web.whatsapp.com/send?phone=5511985861957" target="_blank">Whatsapp</a>
  </div>
</nav>

<section>
  <funcionarios class="container"></funcionarios>
  <pizzas class="container"></pizzas>
</section>
