 <mat-card fxFlex>
    <mat-card-title>
        Cadastro de equipe
    </mat-card-title>
    <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="space-between">
            <mat-form-field>
                <input autofocus matInput [(ngModel)]='depName' (keyup.enter)='save()'>
                <mat-hint>Nome do funcionário</mat-hint>
            </mat-form-field>
            <div fxLayout='row' fxLayoutAlign='end end'>
                <button mat-button color="primary" (click)="save()">Salvar</button>
                <button mat-button color="warn" (click)="cancel()">Cancelar</button>
            </div>
        </div>
        <mat-list>
            <h2 mat-subheader>Funcionários</h2>
            <mat-list-item *ngFor='let item of departments'>
                <mat-icon mat-list-icon>people</mat-icon>
                <h3 mat-line>{{item.name}}</h3>
                <button mat-icon-button color="warn" (click)="delete(item)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="accent" (click)="edit(item)">
                    <mat-icon>edite</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>